html{
    scroll-behavior: smooth;
    
}
html,body{
    overflow-x: none; 
    overflow-y: none;
    
}



body{
    background-color: black;
    font-family: 'Syncopate', sans-serif;
}

#page_background{
    opacity: 0.5;
    position:fixed;
    z-index:-1;
    top: 0;
}

#back_button a{
    text-decoration: none; 
    color: #EEAD0E;
    
}

#back_button{
    margin-left: 20%;
    padding-top: 2%;
}

#back_button a:hover{
    color: white;
}



.contact_wrapper{
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    border:#EEAD0E 1px solid;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    height: auto;
 
}

#contact_title{
    padding-top: 5%;
    color: white;
    font-weight: bold;
    font-size: 40px;

    /* shadow */
    -webkit-filter: drop-shadow(5px 5px 2px #000);
    filter: drop-shadow(5px 5px 2px #000); 
}


#hr{
    background-color: #EEAD0E;
    width: 10%;
    margin-top: 1%;
    margin-bottom: 2%;
}

form {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 6%;
}

.input-group{
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #FFF;
    position:relative;
}

input,textarea{
    margin-left:15%;
    margin-right: 15%;
    width: 100%;
    padding: 10px;
    background-color: rgba(63, 62, 62, 0.4);
    border: 1px #EEAD0E solid;
    text-transform: uppercase;
    color:white;
    
}

label{
    margin-left: 15%;
    height: 100%;
    position:absolute;
    left: 0;
    top: 0;
    padding: 10px;
    cursor:text;
    transition: 0.2s;
}

button{
    padding: 10px 0;
    color: #EEAD0E;
    outline:none;
    background: transparent;
    border: 1px solid #EEAD0E;
    width: 40%;
    cursor: pointer;
    margin-left: 15%;
    margin-right: 15%;
    box-shadow: inset 0 0 0 0 #EEAD0E;
    transition: ease-out 0.3s;
}

button:hover{
    box-shadow: inset 500px 0 0 0 #EEAD0E;
    color: #000;
}

input:focus~label,
textarea:focus~label,
input:valid~label,
textarea:valid~label{
    top: -35px;
    font-size: 13px;
}
