html{
    scroll-behavior: smooth;
    
}



body{
    background-color: black;
    font-family: 'Syncopate', sans-serif;
}

.navbar{
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
    z-index:1000;
}

.top_menu_bar{
    background-color: black;
    top:0;
    left: 0;
    position: fixed;
    font-family: 'Syncopate', sans-serif;
    font-weight: bold;
    width: 100%;
    height: 40px;
    color: white;
    font-size: 12px;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
    padding-right: 80px;
    
}





.instagram_wrapper{
    padding-left: 25px;
}
.top_menu_bar img{
    height: 25px;
    width: 33px;
    padding-right: 8px;
}

.bottom_menu_bar{
    color: white;
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    height: 80px;
    /* background-color: #222222; */
    background-color: rgba(0, 0, 0, 0.6);
    
}
.bottom_menu_bar.white{
    transition: 1s;
    background-color: #878787;
    -webkit-filter: drop-shadow(5px 5px 5px #000);
    filter: drop-shadow(5px 5px 5px #000); 

}

.nav{
    margin-top: -40px;
    margin-right: 80px;
}

.nav li{
    padding-left: 30px;
}

.nav li a {
    
    color: white;
    /* -webkit-filter: drop-shadow(5px 5px 5px #000);
    filter: drop-shadow(5px 5px 5px #000);  */
}

.nav li a.white{
    color: black;
}
.nav li a:hover.white{
    color: #EEAD0E;
}

.nav li a:hover{
    color: #EEAD0E;
    text-decoration: none;
    /* -webkit-filter: drop-shadow(5px 5px 5px #000);
    filter: drop-shadow(5px 5px 3px #000);  */
}

.contact_button{
    margin-top: -10px;
    width: 150px;
    height: 40px;
    border: 1px solid;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    border-color: white;
    box-shadow: inset 0 0 0 0 #EEAD0E;
    transition: ease-out 0.3s;
    
    outline: none;

}

.contact_button:hover{
    box-shadow: inset 150px 0 0 0 #EEAD0E;
    color:black;
}

#background_video{
    position:absolute;
    left: -12vh;
    top:40px;
    max-height: 100vh;
    min-width: 100%;


    z-index:-1000;
    opacity: 25%;

}



.header{
    text-align: center;
    height: 100vh;
}
#header_logo{
    width: 35%;
    padding-top: 33vh;
    -webkit-filter: drop-shadow(5px 5px 5px #000);
 filter: drop-shadow(5px 5px 5px #000); 
}

#menu_logo{
    height: 60px;
    width: 60px;
    /* float:left; */
    margin-top: 10px;
    margin-left: 80px;
}




.scroll_down{
    font-size: 12px;
    text-align: center;
    margin-top: 30vh;
    
}
.scroll_down a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 2px 2px 5px #000000;
}

.scroll_down a:hover{
    color: #EEAD0E;
}

.arrow-down{
    margin-top: -1.5vh;
    position: relative;
    width: 100%;
    /* margin: 0 auto; */
    text-align: center;
    /* border-color: #c5c6c7; */
}

.arrow-down::after{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-right: 2px solid;
    border-bottom: 2px solid;
    /* -webkit-transform: rotate(45deg); */
    transform: rotate(45deg);
    /* -webkit-animation: 3s arrow infinite ease; */
    animation: 2s arrow infinite ease;
    
}

@-webkit-keyframes arrow{
    0%, 100% {
        top: 55px;
    }
    50%{
        top: 80px;
    }
}

@keyframes arrow{
    0%, 100% {
        top: 55px;
    }
    50%{
        top: 80px;
    }
}


.about{
    height: 680px;
    background-color: black;
    text-align: center;
}

.about_content_wrapper{
    background-color:rgb(34, 34, 34, 0.4);
    border-width: thin;
    border: 1px solid;
    border-color: #EEAD0E;
    border-color: white;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%; 
}

#about_title{
    color: white;
    font-weight: bold;
    padding-top: 5%;

    /* shadow */
    -webkit-filter: drop-shadow(5px 5px 2px #000);
    filter: drop-shadow(5px 5px 2px #000); 

}

#about_hr{
    background-color: #EEAD0E;
    width: 15%;
    margin-bottom: 3%;
}

#about_description{
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5%;
    text-align: justify;
    text-transform: uppercase;

    /* shadow */
    -webkit-filter: drop-shadow(5px 5px 5px #000);
    filter: drop-shadow(5px 5px 5px #000); 
}


.faqs{
    height: 100%;
    width: 100%;
    /* background-color: black; */
    text-align: center;
    
}

.faqs_content_wrapper{
    background-color:rgb(34, 34, 34, 0.4);
    border: 0.5px solid;
    border-color: #EEAD0E;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    margin-top: 4%;
}

#faqs_title{
    font-size: 30px;
    color: white;
    font-weight: bold;
    padding-top: 5%;
    

    /* shadow */
    -webkit-filter: drop-shadow(5px 5px 2px #000);
    filter: drop-shadow(5px 5px 2px #000); 

}

#faqs_hr{
    background-color: #EEAD0E;
    width: 15%;
    margin-bottom: 3%;
}

/* #faqs_description{
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5%;
    text-align: justify;

    -webkit-filter: drop-shadow(5px 5px 5px #000);
    filter: drop-shadow(5px 5px 5px #000); 
} */

.faqs_description{
    text-transform: uppercase;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.faqs_bg{
    margin-top:-5%;
    position: absolute;
    left: 0;
    max-height: 120%;
    min-width: 100%;
    opacity: 20%;
}


